extends layout

block content
  h1= title
  
  p Tiny FileDiff for modern ages
  div(class='row')
    div(class='col-sm-4')
        h3 Sources
        div(class='well')
            form(action="/uploads/", method="post", enctype="multipart/form-data")
                div(class='form-group')
                    label source 1
                    input(type='file', name='sources')
                div(class='form-group')
                    label source 2
                    input(type='file', name='sources')
                div(class='form-group')            
                    button(type='submit', class='btn btn-primary btn-lg') Compare!
    div(class='col-sm-8')
        h3 Result